body {

    width: 98%;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Dancing Script', cursive;

}

[class*="col-"] {
    text-align: center;
}

/*nav style*/

.navbar-default {
    background: #fafafa;
    border-color: transparent;
}

.navbar-default .navbar-brand{
	color: #661f1f;;
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
	margin-top: 5px;
	margin-right: 35px; 
} 

#myNavbar .navbar-nav li a{
	color: #661f1f;
    font-size: 18px;
    font-family: monospace;
    margin-top: 5px;

}

li a:hover {
    font-size: x-large;
    text-shadow: 1px 2px #aca6a6;
    transition: font-size 0.5s;
}

/* jumbotron */

.jumbotron {
    color: #661f1f; 
    background-color:  #fafafa 
}

.btn  {
    background-color: #661f1f;
    border-color: #ffffff;
}

.btn:hover {
    background-color: #a72424;
    border-color: #ffffff;
}

/* style footer section*/

container-footer {
    background-color: #fafafa;
}



/*style social section*/

.fab {
    color: #661f1f;
    padding-top: 15px;
    font-size: xx-large;
}

/* style subscribe section*/
.email-box{
    height: 40px;
    justify-content: center;
    display: flex;
}

.email-box i{
    background: #661f1f;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
}

.tbox,.button{
    border: none;
    outline: none;
}

.tbox{
    width: 0px;
    transition: 0.6s;
}

.email-box:hover > .tbox,.tbox:focus{
    width: 260px;
    padding: 0 10px;
}

.button{
    background: #661f1f;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 15px;
}

/*Contact Us*/

.contact {
    padding-top: 15px;
}