body {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}

[class*="col-"] {
    text-align: center;
}

.main-img {
    max-width: 80%;
    height: auto;
}


/*style top section*/
.top a {
    color: #661f1f;
}
.top a:link{
    text-decoration: none;
}

.top a:visited {
    text-decoration: none;
}

.top a:hover {
    font-size: x-large;
    text-shadow: 1px 2px #aca6a6;
    transition: font-size 0.5s;
}

/*style social section*/


/* style subscribe section*/
.email-box{
    height: 40px;
    justify-content: center;
    display: flex;
}

.email-box i{
    background: #661f1f;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
}

.tbox,.button{
    border: none;
    outline: none;
}

.tbox{
    width: 0px;
    transition: 0.6s;
}

.email-box:hover > .tbox,.tbox:focus{
    width: 260px;
    padding: 0 10px;
}

.button{
    background: #661f1f;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 15px;
}